@*
    Category modeliyle çalışıcam
*@
@model Category

<form method="post">

    <h2>Kitap için Yeni Kategori Oluştur</h2>
    <div class="row">
        <label asp-for="Name"> Kategori İsmi </label>
        <input asp-for="Name" class="form-control" /> 
    </div>
    <div class="row my-2">
        <div class="row-6"> 
            <button type="submit" class="btn btn-primary">
            Kaydet    
            </button>
        </div> 
        <div class="row-6 my-2"> 
            <a asp-controller="Category" asp-action="Index" class="btn btn-primary">Kategorilerin Olduğu Listeye Dön</a>
        </div> 
       

    </div>
</form>